<section class="w-75 mx-auto shadow rounded p-3 my-3">
  @if (step1) {
  <form [formGroup]="emailForm" (ngSubmit)="handleEmailForm()">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      class="form-control"
      formControlName="email"
    />
    <button class="w-100 main-btn mt-2">Forgot Password</button>
    @if (message) {
    <h3 class="alert alert-info mt-2 fs-5">{{ message }}</h3>
    }
  </form>
  }
  <!-- /////// -->
  @if (step2) {
  <form [formGroup]="resetCodeForm" (ngSubmit)="handleResetCodeForm()">
    <label for="resetCode">Reset Code</label>
    <input
      type="resetCode"
      id="resetCode"
      class="form-control"
      formControlName="resetCode"
    />
    <button class="w-100 main-btn mt-2">Reset Code</button>
    @if (message) {
    <h3 class="alert alert-info mt-2 fs-5">{{ message }}</h3>
    }
  </form>
  }
  <!-- /////// -->
  @if (step3) {
  <form [formGroup]="resetPasswordForm" (ngSubmit)="handleResetPasswordForm()">
    <label for="newPassword">Reset Password</label>
    <input
      type="password"
      id="newPassword"
      class="form-control"
      formControlName="newPassword"
    />
    <button class="w-100 main-btn mt-2">Reset Password</button>
    @if (message) {
    <h3 class="alert alert-info mt-2 fs-5">{{ message }}</h3>
    }
  </form>
  }
</section>
