<section class="w-75 mx-auto bg-main-light rounded shadow p-3 my-3">
  @if (cartDetails) {
  <h1 class="h2">Shop Cart</h1>
  <div class="d-flex justify-content-between align-items-center">
    <h3 class="h5 text-main">
      Total Price : {{ cartDetails.totalCartPrice | currency : " EGP " }}
    </h3>
    <button (click)="deleteCart()" class="btn btn-danger btn-sm">
      Delete Cart
    </button>
  </div>
  @for (item of cartDetails.products; track $index) {
  <div class="row py-2 border-bottom">
    <div class="col-md-2">
      <div>
        <img
          class="w-100 rounded-5"
          [src]="item.product.imageCover"
          [alt]="item.title"
        />
      </div>
    </div>
    <div class="col-md-10 d-flex align-items-center">
      <div class="d-flex justify-content-between align-items-center w-100">
        <div class="info">
          <h4 class="h5 mb-0">{{ item.product.title | cutText : 5 }}</h4>
          <p class="text-main my-1">
            Price : {{ item.price | currency : " EGP " }}
          </p>
          <button
            #removeBtn
            (click)="removeItem(item.product._id, removeBtn)"
            class="btn p-0"
          >
            <i class="fa-solid fa-trash"></i> Remove
          </button>
        </div>
        <div class="btns">
          <button
            #incrementBtn
            (click)="
              updateCount(
                item.count + 1,
                item.product._id,
                incrementBtn,
                decrementBtn
              )
            "
            class="btn btn-sm border-success"
          >
            +
          </button>
          <span class="mx-2">{{ item.count }}</span>
          <button
            #decrementBtn
            (click)="
              updateCount(
                item.count - 1,
                item.product._id,
                incrementBtn,
                decrementBtn
              )
            "
            class="btn btn-sm border-success"
          >
            -
          </button>
        </div>
      </div>
    </div>
  </div>
  }

  <button class="main-btn mt-2" [routerLink]="['/payment', cartDetails._id]">
    Online Payment <img src="visa.svg" alt="visa image" />
  </button>
  }@else {
  <h2 class="text-center fw-bolder fs-3">Your Cart is empty</h2>
  }
</section>
<!-- video 7 -->
