@if (step1) {
<section class="w-75 mx-auto p-3 bg-main-light rounded shadow my-2">
  <h2 class="h4 fw-bolder text-info">Checkout Session</h2>
  <form [formGroup]="orderForm" (ngSubmit)="handleForm()">
    <div class="formItem">
      <label for="details">Details</label>
      <input
        class="form-control"
        type="text"
        id="details"
        formControlName="details"
      />
    </div>
    <div class="formItem">
      <label for="phone">Phone</label>
      <input
        class="form-control"
        type="tel"
        id="phone"
        formControlName="phone"
      />
    </div>
    <div class="formItem">
      <label for="city">City</label>
      <input
        class="form-control"
        type="text"
        id="city"
        formControlName="city"
      />
    </div>
    <button [disabled]="orderForm.invalid" class="main-btn mt-2">
      CheckOut
    </button>
  </form>
</section>
}
